<%- include("partials/header.ejs") -%>

<div class="mainContent">
    <h1 class="heading">Home.</h1>
    <p>
        <%- homeStartingContent %>
    </p>

    <div class="postsContainer">
        <h2 class="subHeading">
            Your posts,
        </h2>
        <% if(posts.length === 0){ %>
            <div class="noPost">
                <h1>Theres, nothing here!</h1>
                <a href="/compose">Click here to start writing!</a>
            </div>
        <% } else{%>
        
            <% for(post in posts){ %>
                <form class="post" action="/delete" method="post" >
                    <div>
                        <h2 class="postTitle">
                            <%= posts[post].title %>
                        </h2>
                        <p class="postContent">
                            <%= posts[post].truncatedContent %>...  <a href="/posts/<%= posts[post].title %> ">read more?</a>
                        </p>
                    </div>
                        <button title="Delete this post?" name="idOfPost" value="<%= posts[post]._id %>">✖</button>
                </form>
            <% } %>
            <a href="/compose" class="anotherPostLink">Add another post?</a>
        <% } %>
    </div>
</div>

<%- include("partials/footer.ejs") -%>
    

