<!-- <%- include("partials/header.ejs") -%> -->

<!-- Header partial Start -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily journal Project</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap"     rel="stylesheet">
</head>
<body>
    <nav>
        <div class="mainHeading">
            <h1>Daily Journal</h1>
        </div>
        <div class="mainLinkContainer">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact Us</a>
        </div>
    </nav>
<!-- Header partial End -->


<div class="mainContent">
    <h1 class="heading">Home.</h1>
    <p>
        <%- homeStartingContent %>
    </p>

    <div class="postsContainer">
        <h2 class="subHeading">
            Your posts,
        </h2>
        <% if(posts.length === 0){ %>
            <div class="noPost">
                <h1>Theres, nothing here!</h1>
                <a href="/compose">Click here to start writing!</a>
            </div>
        <% } else{%>
        
            <% for(post in posts){ %>
                <form class="post" action="/delete" method="post" >
                    <div>
                        <h2 class="postTitle">
                            <%= posts[post].title %>
                        </h2>
                        <p class="postContent">
                            <%= posts[post].truncatedContent %>...  <a href="/posts/<%= posts[post].title %> ">read more?</a>
                        </p>
                    </div>
                        <button title="Delete this post?" name="idOfPost" value="<%= posts[post]._id %>">✖</button>
                </form>
            <% } %>
            <a href="/compose" class="anotherPostLink">Add another post?</a>
        <% } %>
    </div>
</div>



<!-- Footer partial Start -->
<footer>
    <div>
        <p>&copy;Project by Gaurang Mestry</p>
    </div>
</footer>
</body>

</html>
<!-- Footer partial End -->


<!-- <%- include("partials/footer.ejs") -%> -->
    

